.messager 
  height: 100%
  border-radius: 20px
  overflow: hidden
  background-color: #202020
  display: flex
  flex-direction: column
  justify-content: space-between
  &__header
    height: 50px
    background-color: #3a3a3a
    color: white
    display: flex
    justify-content: center
    align-items: center
    font-size: 20px
  &__input 
    padding: 40px
    background-color: #3a3a3a
    height: 70px
    display: flex
    align-items: center
    gap: 20px
  &__send 
    width: 150px

